@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
body {
    background-color: rgb(216, 250, 239);
}
/*header*/
nav {
    display: flex;
    justify-content: center;
    position: relative;
}
nav a{
    font-family: 'Silkscreen', sans-serif;
    font-size: 40px;
    color: rgb(250, 174, 22);
    padding: 3rem;
    text-decoration: none;
}

article {
    font-family: 'Silkscreen', sans-serif;
    text-align: center;
}

#jina img {
    display: block;
    width: 700px;
    border-radius: 50%;
    border: 0.15rem;
    margin-left: auto;
    margin-right: auto;
   
}
/* Footer section */
footer {
    background:#7be1f6;
    position: absolute;
    right:0;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
}
#social-links {
    display: flex;
    justify-content: center;
}

#social-links a{
   padding: 0.5rem;
}

footer p {
    font-family: 'Silkscreen';
    text-align:center;
    background: #7be1f6;
    font-size: 10px;
}
