@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color:white;
}
/*header*/
nav {
    display: flex;
    justify-content: center;
    position: relative;
}
nav a{
    font-family: 'Silkscreen', sans-serif;
    font-size: 40px;
    color: rgb(251, 171, 11);
    padding: 3rem;
    text-decoration: none;
}
/* nav bar effect */
a {
    background-image: linear-gradient(
      to right,
      rgb(255, 85, 0),
      rgb(255, 85, 0) 50%,
      rgb(251, 171, 11) 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
 /* a:before{
    content: '';
    background: rgb(255, 85, 0);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }*/
  
  a:hover {
   background-position: 0;
  }
  
  a:hover::before{
    width: 100%;
  }

/* main content */
article {
    font-family: 'Silkscreen', sans-serif;
    text-align: center;
}

#jina img {
    display: block;
    width: 650px;
    border-radius: 50%;
    border: 0.15rem;
    margin-left: auto;
    margin-right: auto;
}
/* Footer section */
footer {
    background:#7be1f6;
    position: absolute;
    right:0;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
}
#social-links {
    display: flex;
    justify-content: center;
}

#social-links a{
   padding: 0.5rem;
}

footer p {
    font-family: 'Silkscreen';
    text-align:center;
    background: #7be1f6;
    font-size: 10px;
}
